# ignore all files
*
# but include directories
!*/

!/.gitattributes
!/.gitignore

!/.github/**
!/.editorconfig

!/build.sh
!/serve.sh

!/gradle/wrapper/**
!/build.gradle
!/gradlew
!/gradlew.bat
!/settings.gradle

!/src/**
!/static/**

!/LICENSE
!/README.md
